body {
    font-family: "Raleway", sans-serif;
  }
  
  /*nav */
  
  .navbar-dark .navbar-nav .nav-link{
    color: #194360;
    
  }
  .navbar-toggler, .navbar-toggler-icon {
    color: #194360;

  }
  
  /* Hero Section */
  
  #about_me {
    background-image: url("../img/beto_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
  }
  
  h1{
    text-shadow: 5px 5px 10px #272730;
  }
  .sombra {
    text-shadow: 2px 2px 5px #000000;
  }
  
  /* Education */
  .img-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 50%;
    border: 2px solid #194360;  
    margin: 10px auto;
    width: 140px; 
    height: 140px;
  }
  .img-circle img{
    display: block;
    width: 80%;

  }

  /* Mis trabajos */
  
  .my_experience {
    background-color: #194360;
    padding: 3rem 0;
    color: white;
    
  }

  

  .my_experience .icono {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .my_experience .py-5{
    padding-bottom: 1rem !important;
  }

  /* Portfolio */

  #portfolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item {
    background-color: #194360;
  }
.carousel-item img{
  opacity: 0.5;
}
  /* Contacto */
  #contact_me {
    background-color:#194360 ;
    color: white;
  }
  #contact_me form label {
    font-weight: 700;
    color: white;
  }
  
  #contact_me .form{
padding-bottom: 5rem;
  }
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  