body {
    font-family: "Raleway", sans-serif;
  }
  
  /*nav */
  
  .navbar-dark .navbar-nav .nav-link{
    color: #43abf2;
    
  }
  .navbar-toggler, .navbar-toggler-icon {
    color: #43abf2;

  }
  
  /* Hero Section */
  
  #About_me {
    background-image: url("../img/bg-beto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
  }
  
  h1{
    text-shadow: 5px 5px 10px #272730;
  }
  .sombra {
    text-shadow: 2px 2px 5px #000000;
  }
  
  /* Education */
  .img-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 50%;
    border: 2px solid #43abf2;  
    margin: 10px auto;
    width: 140px; 
    height: 140px;
  }
  .img-circle img{
    display: block;
    width: 80%;

  }

  /* Mis trabajos */
  
  .experience {
    background-color: #194360;
    padding: 3rem 0;
    color: white;
    
  }

  #experience .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .experience .icono {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  